<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/answer" method = "get" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</body>
</html>
